@font-face {
  font-family: Manrope;
  font-weight: 400;
  src: url('../fonts/Manrope-Regular.ttf');
}

@font-face {
  font-family: Manrope;
  font-weight: 700;
  src: url('../fonts/Manrope-Bold.ttf');
}

.filterMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12rem;
}

.my__num {
  font-family: Anton;
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #1b1b1b;
}

.my__filter {
  display: flex;
}
.filterContainer {
  display: flex;
}
.btnFilter {
  width: 19.5rem;
  height: 5.6rem;
  background: #fff;
  cursor: pointer;
  border-radius: 1.1rem;
  display: flex;
  padding: 0 1.6rem;
  justify-content: space-between;
  align-items: center;
  margin-right: 5rem;
  position: relative;
  border: 1px solid #fff;
}
.btnFilter p {
  font-family: Manrope;
  font-size: 1.6rem;
  color: #1b1b1b;
}
#ingredient {
  display: none;
}
#appareil {
  display: none;
}
#ustensile {
  display: none;
}
.item {
  width: 19.5rem;
  min-height: 0rem;
  max-height: 36rem;
  background: #fff;
  flex-direction: column;
  display: none;
  align-items: center;
  border-bottom-left-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  border-bottom: 0.6px solid rgba(211, 211, 211, 0.65);
}
.item div {
  position: relative;
}
.item div input {
  width: 16.3rem;
  height: 3.6rem;
  border-radius: 0.2rem;
  border: 1px solid #c6c6c6;
  font-size: 1.4rem;
  color: #7a7a7a;
  line-height: 1.9rem;
  padding: 0 1rem;
  font-family: Manrope;
  font-weight: 400;
}
.item div input:focus {
  outline: 0.3rem solid #ffd15b;
}
.item div input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 2rem;
}
.item div img {
  filter: brightness(40%);
  width: 1.8rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.noCheck {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow: scroll;
  padding: 0;
}
.noCheck li {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-family: Manrope;
  font-weight: 400;
  list-style: none;
  color: #1b1b1b;
  padding: 1.7rem 1.6rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}
.noCheck li:hover {
  background-color: #ffd15b;
}

.my__tags {
  padding: 0rem 12rem;
}
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
}
.tagsWrapper {
  display: flex;
  padding: 0;
}
.tagsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19.5rem;
  height: 5.3rem;
  box-sizing: border-box;
  padding: 1.7rem 1.8rem;
  background-color: #ffd15b;
  list-style: none;
  margin-right: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.tagsItem p {
  font-family: Manrope;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0rem;
  text-align: left;
}
.tagsItem img {
  font-family: Manrope;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 1.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  line-height: 0rem !important;
}
.tagsItem div {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 1.4rem;
}
.tagsItem:hover p {
  font-weight: 600;
}
.tagsItem:hover img {
  width: 1.4rem;
  height: 1.4rem;
  filter: invert(82%) sepia(14%) saturate(1634%) hue-rotate(354deg) brightness(104%) contrast(98%);
}
.tagsItem:hover div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
}
