/* Définition des polices de caractères */
/* Anton */
@font-face {
  font-family: Anton;
  src: url('../fonts/Anton-Regular.ttf');
}

/* Manrope */
@font-face {
  font-family: Manrope;
  src: url('../fonts/Manrope-Regular.ttf');
}

/* Style de la section jumbotron */
.my__jumbotron {
  height: 66.7rem;
  background-image: url('../images/jumbotron.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style de la navigation dans la section jumbotron */
.my__nav img {
  width: 20.7rem;
  height: 2.5rem;
  margin-top: 5.1rem;
  margin-left: 6.9rem;
  position: absolute;
  top: 0;
  left: 0;
}

/* Style de la section de recherche */
.my__recherche {
  display: flex;
  justify-content: center;
  height: inherit;
}

/* Style de la zone de recherche */
.my__recherche article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

/* Style du titre dans la zone de recherche */
.my__recherche article h1 {
  width: 89rem;
  height: 13.2rem;
  color: #ffd15b;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 6.6rem;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

/* Style du conteneur de champ de recherche et bouton */
.my__recherche article div {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  height: 7.2rem;
}

/* Style du champ de recherche */
.my__recherche article div input {
  width: 95.4rem;
  height: inherit;
  border: none;
  border-radius: 1.1rem;
  padding: 0 8rem 0 3.5rem;
  font-size: 1.6rem;
  color: #1b1b1b;
  font-weight: 400;
  line-height: 2.1rem;
  font-family: 'Manrope', sans-serif;
}

/* Style du champ de recherche lorsqu'il est en focus */
.my__recherche article div input:focus {
  outline: 0.3rem solid #ffd15b;
}

/* Style du bouton de recherche */
.my__recherche article div button {
  position: absolute;
  width: 5.1rem;
  height: 5.2rem;
  right: 1.2rem;
  background-color: #1b1b1b;
  border-radius: 1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Style du bouton de recherche au survol */
.my__recherche article div button:hover {
  background-color: #ffd15b;
}

/* Animation lorsqu'on appuie sur le bouton de recherche */
.my__recherche article div button:active {
  animation: press 0.2s linear;
}

/* Style de l'icône du bouton de recherche au survol */
.my__recherche article div button:hover img {
  filter: brightness(0%);
}

/* Style de l'icône du bouton de recherche */
.my__recherche article div button img {
  width: 2.7rem;
  height: 2.8rem;
}

/* Style du message d'erreur */
.err {
  color: #e74c3c;
  font-size: 1.4rem;
  padding: 0rem 1.6rem;
}

/* Animation de pression sur le bouton */
@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
